<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- TODO SITE DESCRIPTION SEO  -->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO FONT IMPORTEREN -->

  <!-- TODO INCLUDE BUNDLED JS AND CSS HERE -->

  <title>Medicijn scanner</title>
</head>
<body>
