<head>
    <meta charset="utf-8">
    <meta name="description" content="Web dev minor meesterproef19-20">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>meesterproef19-20</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
