<nav>
  <img src="../source/3d-72.png">
  <ul>
    <li><p><a href="/">Home</a></p></li>
  </ul>
  <ul>
    <li><p><a href="/">Naam</a></p></li>
    <li><p><a href="/">Loguit</a></p></li>
  </ul>
  </nav>