/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: Streamster;
    src: url(../source/fonts/SFAlienEncounters-Italic.ttf);
}

@font-face {
    font-family: Nixies;
    src: url(../source/fonts/NixiesRegular-anra.ttf);
}

/****************************/
/* Preset codes toepasbaar voor elke pagina*/
* {
    box-sizing: border-box;
}

html {

    font-family: 'Raleway', sans-serif;
    color: #000f;
}

#start form {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
}

#start form button {
    width: 9em;
    margin: 0 auto;
    margin-top: 3em;
    height: 5em;
}

main {
    padding-top: 6em ;
    position: relative;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    font-size: 2em;
    border: none;
}

body {
    margin: 0 auto;
    min-height: calc(100vh - 0px);
    background-color: #202024;
}

ul {
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
}

p {
    margin: 0;
    font-size: 16px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 5px 0;
}

h1 a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    font-weight: bold;
}

/****************************/
/* Headings font en kleur */
h1,
h2,
h3 {

    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: 0;
    color: #000;
}

h3 {
    font-size: 1.2em;
    text-align: center;
}

body {
    background-color: #202024;
    height: 100vh;
}

main,
section {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1em;
}

body main h1 {
    color: #fff;
    text-align: center;
}

/*+++++MEDIA QUERIES+++++*/
/*Bij de aangegeven max-width wordt de code uitgevoerd!*/
/*Desktop en laptop*/
@media (max-width:1280px) {}

/*tablets landscape mode*/
@media (max-width:960px) {
    h1 {
        font-size: 40px;
        font-size: 2.5em;
    }
    body main > section{

        text-shadow: 0 0 black;
    }
    body section {
        padding-bottom: 0em;
    }


}
/*tablets portrait mode*/
@media (max-width:720px) {

    
}



/*mobile */
@media (max-width:480px) {
}

/****************************/
/*+++++++++++++++++++++++*/


@keyframes colorshift
{
    
      0% {
        background-position:0%  100%;
      }
      50% {
        background-position:100%  100%;
      }

      100% {
        background-position:0%  100%;
      }
      
}