





/* homepage */

#toolkits h1{
    color:#fff;
    text-align: center;
}
#toolkits-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
#toolkits-list li:hover {
    border-color: green;
}
#toolkits-list li {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 17.2em;
    position: relative;
    text-align: center;
    border: 2px solid #252525;
    background-color: #252525;
    margin-bottom: 0.7em;
    transition: 0.3s ease 0s;
    padding: 2em;
}

#toolkits-list li img {
    width: 9em;
    margin: auto;
    padding: 1em;
}

#toolkits-list li a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
    text-indent: -9999px;
}

#toolkits-list li h2 {
    color: #fff;
}
#profile img {
    width: 6em;
    padding: 1em;
    background-color: #fff;
    border-radius: 100%;
}

#profile {
    text-align: center;
    color: #Fff;
}

#profile h2 {
    color: #FFF;
}
#overview > h2, body#detail section:nth-of-type(3) h2 {
    color: #fff;
    padding: 2em;
    font-size: 3em;
    text-align: center;
}


#overview > h2, #detail section:nth-of-type(3) h3{
    color: #fff;
    padding: 1em;
    font-size: 2em;
    text-align: center;
}

/****************************/
