/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: Streamster;
    src: url(../source/fonts/SFAlienEncounters-Italic.ttf);
  }
  @font-face {
    font-family: Nixies ;
    src: url(../source/fonts/NixiesRegular-anra.ttf);
  }
/****************************/
/* Preset codes toepasbaar voor elke pagina*/
* {
    box-sizing: border-box;
}

html {
   
    font-family: 'Raleway', sans-serif;
    color: #000f;
}
  
#start form {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
}

#start form button {
    width: 9em;
    margin: 0 auto;
    margin-top: 3em;
    height: 5em;
}
main, section:nth-child(2) {
    padding-top: 6em !important;
    position: relative;
}

input[type="text"],input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    font-size: 2em;
    border: none;
}

body {
    margin: 0 auto;
    min-height: calc(100vh - 0px);
    background-color: #202024;
}
nav {
    background-color: #202024;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 2px solid #fff;
    z-index: 9;
    padding: 16px;
    padding: 1em;
    display: inline-flex;
}
nav img {
    width: 32px;
    width: 2em;
    height: 32px;
    height: 2em;
}
nav li {
    float: left;
    text-align: center;
    margin: 0 8px;
    margin: 0 0.5em;
}
body nav ul:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav li a {
    color:#fff;
    text-decoration: none;
}
ul {
    text-decoration: none;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
}
p {
    margin: 0;
    font-size: 16px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 5px 0;
}
h1 a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    font-weight: bold;
}

/****************************/
/* Headings font en kleur */
h1,
h2,
h3 {

    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    margin: 0;
    color: #000;
}

h3 {
    font-size: 1.2em;
    text-align: center;
}
footer {
    background-color: #fff;
    position: fixed;
    width: 9em;
    right: 60px;
    bottom: 0;
    padding: 1em;
    text-align: center;
    border-radius: 2em 2em 0em 0em;
}
footer a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}
/* ------------------- */




/* homepage */
body {
    background-color: #202024;
    height: 100vh;
}

main, section {
    max-width: 1170px;
    margin: 0 auto;
    padding: 1em;
}
body main h1 {
    color: #fff;
    text-align: center;
}
#toolkits h1{
    color:#fff;
    text-align: center;
}
#toolkits-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
#toolkits-list li:hover {
    border-color: green;
}
#toolkits-list li {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 17.2em;
    position: relative;
    text-align: center;
    border: 2px solid #252525;
    background-color: #252525;
    margin-bottom: 0.7em;
    transition: 0.3s ease 0s;
    padding: 2em;
}

#toolkits-list li img {
    width: 9em;
    margin: auto;
    padding: 1em;
}

#toolkits-list li a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: transparent;
    text-indent: -9999px;
}

#toolkits-list li h2 {
    color: #fff;
}
#profile img {
    width: 6em;
    padding: 1em;
    background-color: #fff;
    border-radius: 100%;
}

#profile {
    text-align: center;
    color: #Fff;
}

#profile h2 {
    color: #FFF;
}
#overview > h2, body#detail section:nth-of-type(3) h2 {
    color: #fff;
    padding: 2em;
    font-size: 3em;
    text-align: center;
}


#overview > h2, #detail section:nth-of-type(3) h3{
    color: #fff;
    padding: 1em;
    font-size: 2em;
    text-align: center;
}

/****************************/
/*+++++MEDIA QUERIES+++++*/
/*Bij de aangegeven max-width wordt de code uitgevoerd!*/
/*Desktop en laptop*/
@media (max-width:1280px) {}

/*tablets landscape mode*/
@media (max-width:960px) {
    h1 {
        font-size: 40px;
        font-size: 2.5em;
    }
    body main > section{
        padding: 112px 32px;
        padding: 7em 2em;
        text-shadow: 0 0 black;
    }
    body section {
        padding-bottom: 0em;
    }


}
/*tablets portrait mode*/
@media (max-width:720px) {

    
}



/*mobile */
@media (max-width:480px) {
}

/****************************/
/*+++++++++++++++++++++++*/


@keyframes colorshift
{
    
      0% {
        background-position:0%  100%;
      }
      50% {
        background-position:100%  100%;
      }

      100% {
        background-position:0%  100%;
      }
      
}