<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>

<body id="advies">
    <%- include ('../../partials/nav.ejs') %>


    <section>
        <h1>Wat kan je hier tegen doen? </h1>
        <ul  id="tips">
            <li>Hoe kan ik anoniem reizen</li>
        </ul>


    <!-- <script src="js/script.js"></script> -->


</body>


</html>