<!DOCTYPE html>
<html lang="en">


<%- include ('../../partials/head.ejs') %>

<body id="detail">
    <%- include ('../../partials/nav.ejs') %>
<section>
<img src="../source/pictures/gvb.png" alt="">
<h1></h1>
</section>

    <section id="overview">
<h2>Hoeveel is mijn data waard? </h2>
        <ul id="diagrams">
            <li>
                <figure>&euro;<strong> 1243-</strong></figure>
                <h2> Waard</h2>
                </li>
           
        </ul>
    </section>

    <section>
        <h2>Uw persoonlijke informatie</h2>
        <ul  id="persoondata">
            <li> <b>Voor- en achternaam:</b> Kees meijer</li>
            <li><b>Geslacht:</b>  Man</li>
            <li><b>Adres:</b> Westerdokskade 100</li>
            <li><b>Woonplaats:</b> Amsterdam</li>
            <li><b>Geboortedatum:</b> 1-1-1965</li>
            <li><b>Telefoonnummer:</b> 068375946</li>
            <li><b>E-mail: </b>k.meijer@hotmail.com</li>


        </ul>
        <h3>Locaties</h3>
        <ul id="data">
           
                
                    <li>
                        13-2-20: Centraal Station
                    </li>
                    <li>
                       13-2-20: Station Sloterdijk
                    </li>
               
                
            </h2>
        </ul>


    <!-- <script src="js/script.js"></script> -->

    <%- include ('../../partials/footer-demo2.ejs') %>
</body>


</html>