:root {
  --dark: #000;
  --course: #01CD85;
  --light: #fff;

  --groen: #01CD85;
  --blauw: #01B4EB;
  --geel: #F1E40A;
}
* {
  box-sizing:border-box;
}

html {
  padding: 0;
  margin: 0;

  background-color: var(--light);

  scroll-behavior: smooth;
}

body {
  margin: 1rem;
  padding: 0;

  background-color: var(--groen);
  background: linear-gradient(12deg, var(--groen) 46%, rgba(0,0,0,0) 34%),
              linear-gradient(21deg, var(--geel) 56%, var(--blauw) 46%);
  background-size: cover;
  background-attachment: fixed;
  color: var(--light);

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
}

img{
  width: 100%;
}

h1.expo {
  position: fixed;
  top: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.08em;
  /* text-indent: -2rem; */

  mix-blend-mode:difference;
  transition: all 0.5s ease;
}

/*
  HEADER
    - logo
    - intro tekst
    - nav
*/
body > header {
  padding: 0 0 2em 0;
  margin: 0;
  overflow: hidden;
  color: var(--light);
}

body > header div{
  max-width: 16em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > header div h2 {
  margin: 1rem 0 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: -0.02em;
}
body > header div img{
  width: 8em;
  transition: all 0.5s ease;
}
body > header p {
  position: relative;
  max-width: 20em;
  margin: 1rem;
  font-weight: bold;
}
/*
  Links in de intro tekst
*/
header p a,
header p a:visited {
  color: var(--light);
}
header p a:hover,
header p a:focus{
  color: var(--light);
  background: var(--geel);
}

a, a:visited {
  color: var(--light);
}
.selected{
  display: inline-block;
  background: var(--geel);
  color: var(--dark);
  transform: rotate(-4deg);
}
/*
  nav en buttons (ook de button in de footer)
*/
body > header nav{
  display: none;
  position: absolute;
  top: 3rem;
  left: 30rem;
}
body > header nav a{
  /* display: block; */
  position: absolute;
  padding: 0.4em 0.6em;
  margin: 0.2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.2s ease;
}
body > header nav a,
body > header nav a:visited{
  color: var(--dark);
  background: var(--light);
}
body > header nav a:hover,
body > header nav a:focus {
  color: var(--light);
  background: var(--course);
}
body > header nav a[href='#programma']{
  top: 1.6rem;
  left: 2rem;
}
nav a[href='#programma']:hover,
nav a[href='#programma']:focus {
  transform: rotate(8deg);
  padding-right: 0rem;
  text-indent: 1rem;
}
body > header nav a[href='#projecten']{
  top: 6.8rem;
  left: -1rem;
}
nav a[href='#projecten']:hover,
nav a[href='#projecten']:focus {
  transform: rotate(3deg);
  padding-right: 0.4rem;
  text-indent: 0.8rem;
}
body > header nav a[href='#about']{
  top: 12rem;
  left: 6rem;
}
nav a[href='#about']:hover,
nav a[href='#about']:focus {
  transform: rotate(-10deg);
  padding-right: 2rem;
  text-indent: -0.9rem;
}
footer a[href='#home']{
  display: inline-block;
  position: relative;
  /* bottom: 2rem; */
  /* right: 2rem; */
  padding: 0.4em 0.6em;
  margin: 2rem auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;

  transition: all 0.2s ease;
}
footer a[href='#home'],
footer a[href='#home']:visited{
  color: var(--dark);
  background: var(--light);
}

footer a[href='#home']:hover,
footer a[href='#home']:focus {
  transform: rotate(8deg);
  padding-right: 0rem;
  text-indent: 1rem;
  color: var(--light);
  background: var(--blauw);
}


/*
MAIN
  HEADER
  ARTICLES
    - programma
    - projecten
    - about
*/
main {
  width: 100%;
  margin: 0;
  padding: 2rem 0;
  background: var(--light);
}
main > header{
  z-index:2;
  margin: 0;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
  background: var(--light);
  color: var(--dark);
}
main > header img{
  width: 2em;
  filter:invert();
}
main > header nav{
  width: 100%;
  height: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
main > header a,
main > header a:visited{
  display: inline-block;
  margin: 0 0.2em;
  padding: 0.2em;
  font-weight: bold;
  text-decoration: none;
  color: var(--dark);
  transition: all 0.2s ease;
}
main > header > nav a:hover,
main > header > nav a:focus{
  background: var(--groen);
  color: var(--light);
}

main article {
  margin: 0;
  padding: 0;
}
article h2{
  position: sticky;
  top: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 6em;
  letter-spacing: -0.08em;
  text-indent: -1rem;
  mix-blend-mode: difference;
  transition: all 0.5s ease;
}
article a,
article a:visited {
  color: var(--light);
}
article a:hover,
article a:focus{
  color: var(--dark);
  background: var(--geel);
}

/*
  PROGRAMMA
*/
article#programma ol {
  position: relative;
  max-width: 30em;
  padding: 1rem;
  margin: 2rem 0;

  font-weight: bold;
  background: var(--groen);
}
article#programma ol header {
  margin: 2rem 0;
}
article#programma ol header a {
  display: none;
}
/* article#programma ol header a,
article#programma ol header a:visited{
  display: inline-block;
  padding: 0.4em 0.6em;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: var(--dark);
  background: var(--light);
  transition: all 0.2s ease;
}
article#programma ol header a:hover,
article#programma ol header a:focus {
  background: var(--geel);
  transform: rotate(3deg);
} */

article#programma ol li {
  margin: 1rem 0 0 1rem;
  padding: 0;
}
article#programma ol li span{
  display: block;
  font-weight: normal;
}

/*
  PROJECTEN
*/
article#projecten ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
article#projecten ul nav{
  display: none;
}
article#projecten ul header,
article#projecten ul li {
  position: relative;
  max-width: 30em;
  margin: 2rem 0;
  padding: 1rem;
  background: var(--blauw);
}
article#projecten li img {
  max-width: 100%;
}
article#projecten li h3 {
  margin-bottom: 1rem;
}
article#projecten li h3 a{
  padding: 0.4em;
}

/*
  ABOUT
*/
article#about div {
  position: relative;
  max-width: 30em;
  padding: 1rem;
  margin: 2rem 0;
  background: var(--groen);
}
details{
  margin-bottom: 1rem;
}
details summary{
  font-weight: bold;
}

/*
  FOOTER
*/
footer {
  position: relative;
  max-width: 30em;
  min-height: 100vh;
  padding: 1rem;
  margin: 0;
  font-style: italic;
}
footer a {
  color: white;
}
footer img{
  width: 10em;
  margin-top: 3rem;
}
footer p{

}

/* ************************
  responsive
************************ */

@media all and (min-width: 24em) {
  h1.expo {
    top: 0rem;
    font-size: 7em;
  }
}
@media all and (min-width: 28em) {
  h1.expo {
    top: -0.5rem;
    font-size: 8em;
  }
  article h3{
    font-size: 1.5em;
    letter-spacing: -0.03em;
  }
  body > header div img{
    width: 10em;
  }
}
@media all and (min-width: 32em) {
  h1.expo {
    top: -0.8rem;
    font-size: 10em;
  }
  body > header div img{
    width: 11em;
  }
  /* tekst padding in de kaders vergroten */
  body > header {
    padding: 1rem;
  }
  article#programma ol,
  article#projecten ul header,
  article#projecten ul li,
  article#about div,
  footer {
    padding: 2rem;
  }
  article#programma ol li {
    margin-left: 2rem;
  }
}
@media all and (min-width: 39em) {
  h1.expo {
    top: -2rem;
    font-size: 12em;
  }
  article h2{
    top: -0.2rem;
    font-size: 8em;
    text-indent: -1.1rem;
  }
  /* tekst marges vergroten */
  article#programma ol,
  article#projecten ul header,
  article#projecten ul li,
  article#about div,
  footer {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media all and (min-width: 48em) {
  article h2{
    top: -1.6rem;
    font-size: 10em;
    text-indent: -1.2rem;
  }
  body > header nav{
    display: block;
  }
  body > header {
    min-height: 96vh;
  }
  /* tekst marges vergroten */
  article#programma ol,
  article#projecten ul header,
  article#projecten ul li,
  article#about div,
  footer {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
