:root {
  --dark: #000;
  --course: #01CD85;
  --light: #fff;

  --groen: #01CD85;
  --blauw: #01B4EB;
  --geel: #F1E40A;
}
* {
  box-sizing:border-box;
}
html {
  background-color: var(--light);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--groen);
  /* background: url("WDnDscreen.png") left top no-repeat;
  background: linear-gradient(10deg, #E9590E 0%,#E9590E 20%, #3AAA34 20%,#3AAA34 50%,#34A8E0 50%,#34A8E0 100%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  background: linear-gradient(12deg, var(--groen) 46%, rgba(0,0,0,0) 34%),
              linear-gradient(21deg, var(--geel) 56%, var(--blauw) 46%);
  background-size: cover;
  background-attachment: fixed;

  color: var(--light);
  font-family: monospace;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 1rem;
  padding: 0;
  /* height: 92vh;
  overflow: scroll; */

  /* transform: rotate(20deg);
  transform-origin:right; */
}
h1.expo {
  position: fixed;
  /* background: yellow; */
  /* bottom: -8rem; */
  /* left: -3rem; */
  top: -2rem;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12em;
  letter-spacing: -0.03em;
  margin: 0;
  /* margin-top: 10rem; */
  /* margin-left: -4rem; */
  padding: 0;
  /* transform: translate(-2rem,-6rem); */
  /* line-height: -30em; */
  width: 100%;
  overflow: hidden;

  /* font-weight: 800; */
  /* background: purple; */
  mix-blend-mode:difference;
}


/*

HEADER
  LOGO + TITEL
  NAV


*/

body > header {
  /* position: relative; */
  /* min-height: 100vh; */
  /* background: var(--course); */
  /* background: purple; */
  color: var(--light);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* align-items:center; */
  padding: 2rem 0 0 0;
  margin: 0;
  /* margin-bottom: 2rem */
}
body > header div{
  /* z-index: 1; */
  /* margin-top: 4em; */
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background: yellow; */
}
body > header h2 {
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
}
body > header img{
  width: 11em;
}
body > header > div > p {
  font-weight: bold;
  /* background: pink; */
  max-width: 30em;
  margin: 1em 2em;
  /* mix-blend-mode: darken; */
}
header p a,
header p a:visited {
  color: var(--light);
}
header p a:hover,
header p a:focus{
  color: var(--light);
  background: var(--geel);
}

body > header nav{
  /* background: yellow; */
  position: relative;
  /* margin-top: 4em; */
  width: 50%;
  /* background: pink; */
}
body > header nav a{
  /* display: block; */
  position: absolute;
  padding: 0.4em 0.6em;
  margin: 0.2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;

  transition: all 0.2s ease;
}
body > header nav a,
body > header nav a:visited{
  color: var(--dark);
  background: var(--light);
}
body > header nav a:hover,
body > header nav a:focus {
  color: var(--light);
  background: var(--course);
}
body > header nav a[href='#programma']{
  top: 1em;
  left: 2em;
}
nav a[href='#programma']:hover,
nav a[href='#programma']:focus {
  transform: rotate(8deg);
  padding-right: 0rem;
  text-indent: 1rem;
}
body > header nav a[href='#projecten']{
  top: 4em;
  left: 0em;
}
nav a[href='#projecten']:hover,
nav a[href='#projecten']:focus {
  transform: rotate(3deg);
  padding-right: 0.4rem;
  text-indent: 0.8rem;
}
body > header nav a[href='#about']{
  top: 7em;
  left: 3em;
}
nav a[href='#about']:hover,
nav a[href='#about']:focus {
  transform: rotate(-10deg);
  padding-right: 2rem;
  text-indent: -0.9rem;
}



/*

MAIN
  PROGRAMMA
  PROJECTEN
  OVER DE MINOR
*/
main {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  background: var(--light);
}
main > header{
  z-index:2;
  background: var(--light);
  color: var(--dark);
  /* height: 4em; */
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}
main > header > img{
  height: 2em;
  filter:invert();
}
main > header > nav{
  /* align-self: flex-end; */
  width: 100%;
  /* margin-left: 2em; */
}
.selected{
  display: inline-block;
  background: var(--geel);
  color: var(--dark);
  transform: rotate(-4deg);
}
main > header a,
main > header a:visited{
  text-decoration: none;
  display: inline-block;
  margin: 0 0.2em;
  padding: 0.2em;
  color: var(--dark);
  font-weight: bold;
  transition: all 0.2s ease;
}
main > header > nav a:hover,
main > header > nav a:focus{
  background: var(--groen);
  color: var(--light);
}


article {
    /* background: var(--course); */
    margin: 6em 0;
    padding: 0;
    min-height: 90vh;
    width: 100%;
    /* overflow-x: hidden; */
}
article h2{
  /* background: purple; */
  mix-blend-mode: difference;
  position: sticky;
  top: -2rem;
  margin: 0;
  /* transform: translate(-2rem, 0); */
  /* margin-top: -5rem; */
  /* margin-left: -0.1em; */
  padding: 0;
  width: 100%;
  overflow-x: hidden;

  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 10em;
  letter-spacing: -0.03em;
  text-indent: -2rem;
}
article h3{
  margin: 0;
  padding: 0;

  font-size: 1.8em;
  letter-spacing: -0.03em;
}
article a,
article a:visited {
  color: var(--light);
}
article a:hover,
article a:focus{
  color: var(--dark);
  background: var(--geel);
}

/*
  PROGRAMMA
*/
article#programma ol {
  background: var(--groen);
  position: relative;
  max-width: 30em;
  padding: 3rem;
  margin: 3rem;

  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* width: 100%; */
  /* overflow-x: scroll; */

  font-weight: bold;
}
article#programma ol li {
  /* background: pink; */
  /* width: 20em; */
  margin: 1rem 0 0 2rem;
  padding: 0;
  /* flex: 0 0 auto; */
}
article#programma ol li span{
  display: block;
  font-weight: normal;
}


/*
  PROJECTEN
*/
article#projecten ul{
    list-style-type: none;

    margin: 0;
    padding: 0;
}
article#projecten ul header {
  background: var(--blauw);
  max-width: 30em;
  margin: 3rem;
  padding: 2rem;
  position: relative;
}
article#projecten ul li {
  background: var(--blauw);
  max-width: 30em;
  margin: 3rem;
  padding: 2rem;
  position: relative;
}
article#projecten li h3 {
  z-index: 2;
  margin-bottom: 1rem;
}
article#projecten li h3 a{
  padding: 0.4em;
}
article#projecten li img {
  /* border: 2px solid var(--light); */
  /* margin-top: -2rem; */
  max-width: 100%;
  z-index: 0;
  /* float: left; */
}


/* article#projecten li div h3{
  position: absolute;
  top: 3rem;
  left: 3rem;
  background: var(--blauw);
  padding: 0.5em;
} */
/* article#projecten li div h4:first-of-type{
  position: absolute;
  top: 8rem;
  left: 3rem;
  background: var(--blauw);
  padding: 0.3em;
} */
/* article#projecten li div h3 a {
  padding: 0.5em;
} */



.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}




/*

FOOTER
  HvA
  CMD
  CONTACT EN LINKS

*/

article#about div {
  background: var(--groen);
  position: relative;
  max-width: 30em;
  padding: 3rem;
  margin: 3rem;
}

footer {
  /* background: var(--blauw); */
  /* position: relative; */
  font-style: italic;

  max-width: 30em;
  padding: 3rem;
  margin: 3rem;
  height: 100vh;
}
