<!DOCTYPE html>
<html lang="en">

     <%- include ('../../partials/head.ejs') %>
    

      
<body id= "error">
       
<section>
    
<h1>Error 404: page not found </h1>
<img src="../source/pictures/404.gif" alt="">
<p><a href="/">Reboot System!</a></p>
</section>
<%- include ('../../partials/footer.ejs') %>