<!DOCTYPE html>
<html lang="en">


<%- include ('../partials/head.ejs') %>

<body id="detail">
    <%- include ('../partials/nav.ejs') %>
<section>
<img src="../source/pictures/store.svg" alt="">
<h1>Super</h1>
</section>

    <section id="overview">
<h2>Wat voor data is verzameld </h2>
        <ul id="diagrams">
            <li>
                <figure>&euro;<strong> 5500x</strong></figure>
                <h2> Kaart Gescaned</h2>
                </li>
            <li>
                <figure>&euro;<strong> 100000-</strong></figure>
                <h2>Uitgegeven aan drinken</h2>
            </li>
            <li>
                <figure>&euro;<strong> 100000-</strong></figure>
                <h2>Uitgegeven aan Eten</h2>
            </li>
        </ul>
    </section>

    <section>
        <h2>Uw persoonlijke informatie</h2>
        <ul  id="persoondata">
            <li> Voor- en achternaam:</li>
            <li>Geslacht</li>
            <li>Adres</li>
            <li>Woonplaats</li>
            <li>Geboortedatum</li>
            <li>Telefoonnummer</li>
            <li>E-mail</li>
            <li>Websitebezoekgegevens:
                <li>test</li>
            </li>
        </ul>


    <!-- <script src="js/script.js"></script> -->

    <%- include ('../partials/footer.ejs') %>
</body>


</html>