<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="start">
  
    <main>
        <section>
            <h1>Login</h1>
            <form action="/overview-demo2">
            <label for="username"  > Naam</label>
            <input type="text" name="username" placeholder="Gebruikersnaam">
    
        <label for="username">wachtwoord</label>
            <input type="password" placeholder="wachtwoord">
        
            <button type="submit">Submit</button>
        </form>
        </section>
    </main>


    <!-- <script src="js/script.js"></script> -->


</body>


</html>