<!DOCTYPE html>
<html lang="en">


    <%- include ('../partials/head.ejs') %>

<body id="start">
  
    <main>
<section>
        <h1>Login</h1>
        <p>
            <a href="/overview" alt="overview">Submit</a>
        </p>
    </section>
    </main>


    <!-- <script src="js/script.js"></script> -->


</body>


</html>