<!DOCTYPE html>
<html lang="en">


<%- include ('../partials/head.ejs') %>


<body id="overview">
    <%- include ('../partials/nav.ejs') %>
    <main>
        <section id="profile">
            <p><img src="../source/pictures/person.svg"" alt=""></p>
            
            <h2>
                Naam
            </h2>
            <strong>56788</strong>
        </section>
    </main>

    <section id="toolkits">
        <h1>Toolbox</h1>
        <ul id="toolkits-list">
            <li>
                <h2>Quiz</h2>
                <img src="../source/pictures/quiz.svg" alt="store">
                <strong>23456</strong>
                <a href="detail">Meer info</a>
            </li>
            <li>
                <img src="../source/pictures/store.svg" alt="store">
                <p>23456</p>
                <a href="detail">Meer info</a>
            </li>
            <li>
                <img src="../source/pictures/store.svg" alt="store">
                <p>23456</p>
                <a href="detail">Meer info</a>
            </li>
            <li>
                <img src="../source/pictures/store.svg" alt="store">
                <p>23456</p>
                <a href="detail">Meer info</a>
            </li>
        </ul>
    </section>



    <!-- <script src="js/script.js"></script> -->


</body>


</html>