<!DOCTYPE html>
<html lang="en">


<%- include ('../partials/head.ejs') %>


<body id="detail">
    <%- include ('../partials/nav.ejs') %>
    <main>
        <h1>Huidig score <br>
        40/100p</h1>
        <ul>
           
            <li id="info-img">
                <p><img src="../source/pictures/quiz.svg"" alt=""></p>

            </li>
            <li id="info">
                <h2>
                    Naam
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque tempore reiciendis molestias voluptatibus dolor quas quam, saepe enim? Vitae sit cupiditate tempore ducimus nostrum sed optio eveniet molestias quia cumque.</p>
                <a href="/quiz">Start quiz</a>
            </li>
        </ul>
       
    </main>




    <!-- <script src="js/script.js"></script> -->


</body>


</html>