<!DOCTYPE html>
<html lang="en">


<%- include ('../partials/head.ejs') %>

<body id="review">


    <section>
<h1>Wat vind je er van? </h1>
        <ul id="smiley">
            <li>
                <img src="../source/pictures/015-smile-1.svg" alt="store">
                <a href="advies">Meer info</a></li>
                </li>
            <li>
                <img src="../source/pictures/069-muted-1.svg" alt="store">
                <a href="advies">Meer info</a></li>
            </li>
            <li>
                <img src="../source/pictures/019-shocked-1.svg" alt="store">
                <a href="advies">Meer info</a></li>
            </li>
        </ul>
    </section>



    <!-- <script src="js/script.js"></script> -->


</body>


</html>