<h2>Medicine</h2>
<p> <%= text %> </p>

<ul>
    <li>
        <%= meds.name %>
    </li>
    <li>
        <%= meds.registrationNumber %>
    </li>
    <li>
        <%= meds.activeIngredient %>
    </li>

</ul>