:root {
  --dark: #000;
  --course: #01CD85;
  --light: #fff;

  --groen: #01CD85;
  --blauw: #01B4EB;
  --geel: #F1E40A;
}
* {
  box-sizing:border-box;
}

html {
  background-color: var(--light);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--groen);
  /* background: url("WDnDscreen.png") left top no-repeat;
  background: linear-gradient(10deg, #E9590E 0%,#E9590E 20%, #3AAA34 20%,#3AAA34 50%,#34A8E0 50%,#34A8E0 100%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); */
  background: linear-gradient(12deg, var(--groen) 46%, rgba(0,0,0,0) 34%),
              linear-gradient(21deg, var(--geel) 56%, var(--blauw) 46%);
  background-size: cover;
  background-attachment: fixed;

  color: var(--light);

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 1rem;
  padding: 0;

}

img{
  width: 100%;
}

h1.expo {
  position: fixed;
  top: -2rem;

  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12em;
  letter-spacing: -0.03em;

  text-indent: -2rem;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  mix-blend-mode:difference;
}


body > header {
  color: var(--light);
  /* min-height: 100vh; */
  overflow: hidden;

  padding: 0;
  margin: 0;
}

body > header div{
  /* z-index: 1; */
  /* margin-top: 4em; */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background: yellow; */
}

body > header div h2 {
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: -0.02em;
  margin: 1rem 0 0 0;
  padding: 0;
}
body > header div img{
  width: 11em;
}
body > header p {
  /* background: pink; */
  position: relative;
  font-weight: bold;
  max-width: 30em;
  margin: 1em;
  /* mix-blend-mode: darken; */
}
a, a:visited {
  color: var(--light);
}

nav{
  display: none;
}
